<div class="login-form">
    <h3>Вход</h3>
    <form [formGroup]="logInForm!" (ngSubmit)="onSubmit()">
        <div formGroupName="user">
            <div class="form-field">
                <label for="email">Имейл</label>
                <input type="email" id="email" formControlName="email" required>
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
                    Моля въведете валиден имейл!
                </div>
            </div>
            
            <div class="form-field">
                <label for="password">Парола</label>
                <input type="password" id="password" formControlName="password" required>
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
                    Моля въведете парола!
                </div>
            </div>
            
            <button type="submit" class="submit-btn">Влез</button>
        </div>
    </form>
    <a routerLink="/register-form" class="register-link">Направете крачка към бетона</a>
</div>