<div class="workout-container">
  <div class="header-row">
    <h1 class="workout-title">Тренировки:</h1>
    <app-search></app-search>
  </div>

  <div class="responsive-table-wrapper">
    <table class="workout-table">
      <thead>
        <tr>
          <th class="column-index">#</th>
          <th>Име на тренировка</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workout of workouts | keyvalue; let i = index">
          <td class="column-index">{{ i + 1 }}</td>
          <td class="workout-name">
            <a (click)="openWorkoutDialog(workout.key)" class="clickable">{{ workout.key }}</a>
          </td>
          <td class="action-buttons">
            <button class="icon-button start" title="Стартирай тренировка">
                <i class="fa-regular fa-circle-play"></i>
            </button>
            <a class="icon-button view" (click)="openWorkoutDialog(workout.key)" title="Виж детайли">
              <i class="fa-solid fa-circle-info"></i>
            </a>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="btn-container">
    <button class="btn-primary" (click)="openAddWorkoutDialog()">
      <i class="fa-solid fa-plus"></i> Добави тренировка
    </button>
  </div>
</div>
