<div>
<div class=" d-flex justify-content-center align-items-center">
    <div>

        <h1>Тренировки:</h1>
    </div>
    <div>
        <app-search></app-search>
    </div>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Име на тренировка</th>
                <th>Дата</th>
                <th>Обща сума КГ</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tempWorkout of workouts">
                <th scope="row">{{tempWorkout.id}}</th>
                <td>{{tempWorkout.workoutName}}</td>
                <td>
                    {{tempWorkout.date}}
                </td>
                <td>
                    {{tempWorkout.total_tonnage_kg}}
                </td>
                <td>
                    <div class="action-buttons">
                        <a routerLink = "/workouts/{{tempWorkout.id}}">
                            <i class="fa-solid fa-dumbbell"></i>
                        </a>
                        <button class="btn-icon" (click)="deleteWorkout(tempWorkout.id)"><i class="fa-solid fa-x"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn-primary" (click)="openAddWorkoutDialog()">
            <i class="fa-solid fa-plus"></i> Добави тренировка
          </button>
    </div>

</div>