<!-- HTML Template -->
<div class="leaderboard-card">
            <div class="leaderboard-header">
                <h2 class="leaderboard-title">Beton Leaderboard</h2>
                <p class="leaderboard-subtitle">Чувствам се силен защото съм българин!</p>
            </div>

    
        <table class="leaderboard-table">
            <thead class="table-header">
                <tr class="table-row">
                    <th class="rank-col">#</th>
                    <th class="user-col">User</th>
                    <th class="weight-col">Sum (kg)</th>
                    <th class="workout-col">Traning count</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of leaderBoard; let i = index" class="table-row">
                    <td class="rank-cell">{{i+1}}</td>
                    <td class="username-cell">{{user.username}}</td>
                    <td class="weight-cell">{{user.sumKg | number:'1.2-2'}}
                        <div class="weight-progress">
                                <div class="weight-progress-bar" style="width: 100%"></div>
                        </div>
                    </td>
                    <td class="workouts-cell"><span class="workout-badge">{{user.workoutCounter}}</span></td>
                </tr>
            </tbody>
        </table>
</div>
