<div class="container mt-1">
  <h1 class="text-center mb-3">Сцепена класация!</h1>
  <div class="text-center mb-4">
    <i class="lead text-muted">Чувствам се силен защото съм българин!</i>
  </div>
  
  <div class="table-responsive rounded-lg">
    <table class="table table-striped table-hover table-bordered mb-0">
      <thead>
        <tr>
          <th scope="col" class="text-center rounded-top-left">#</th>
          <th scope="col">Потребител</th>
          <th scope="col" class="text-right">Сума (кг)</th>
          <th scope="col" class="text-center rounded-top-right">Тренировки</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of leaderBoard; let i = index">
          <th scope="row" class="text-center">{{i+1}}</th>
          <td class="font-weight-bold">{{user.username}}</td>
          <td class="text-right">{{user.sumKg | number:'1.2-2'}}</td>
          <td class="text-center">{{user.workoutCounter}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>