<nav class="navbar">
    <div class="nav-container">
      <div class="logo">
        <strong>STRONG BETON</strong>
      </div>

      <div class="nav-links">
        <a routerLink="/home" href="#home">Начало</a>
        <a href="#about" routerLink="/app-about-us">За нас</a>
        <a href="#contact" routerLink="/app-help-site">Подкрепете ни</a>
        <a *ngIf="isLogged()" href="#workouts" routerLink="/workouts">Тренировки</a>
        <a *ngIf="!isLogged()" href="#login" routerLink="/register-form">Стани бетон</a>
        <a *ngIf="isLogged()" href="#friends" routerLink="/app-my-friend-list">Приятели</a>
        <a *ngIf="isLogged()" href="#login" routerLink="/home" (click)="logout()">Почивай</a>
      </div>
    </div>
  </nav>