<section class="min-h-screen text-[#172033]">
  <div class="mx-auto max-w-7xl pb-24 md:pb-8">
    <app-workout-picker
      *ngIf="!selectedWorkout"
      [workoutGroups]="workoutGroups"
      [workoutNames]="workoutNames"
      [isCreatingWorkout]="isCreatingWorkout"
      [createWorkoutError]="createWorkoutError"
      (createWorkout)="createNewWorkout($event)"
      (selectWorkout)="selectWorkout($event)"
    />

    <ng-container *ngIf="selectedWorkout">
      <app-workout-topbar
        [selectedWorkout]="selectedWorkout"
        [selectedDetail]="selectedDetail"
        [canEditWorkout]="canEditWorkout"
        [isWorkoutFinished]="isWorkoutFinished"
        [isFinishingWorkout]="isFinishingWorkout"
        [workoutDetailsCount]="workoutDetails.length"
        (back)="goBack()"
        (addExercise)="openAddExercise()"
        (finishWorkout)="finishWorkout()"
      />

      <div
        *ngIf="finishWorkoutError && !selectedDetail"
        class="mb-4 border border-red-200 bg-red-50 p-3 text-xs font-bold uppercase text-red-700"
      >
        {{ finishWorkoutError }}
      </div>

      <app-exercise-queue
        *ngIf="!selectedDetail"
        [workoutDetails]="workoutDetails"
        [canEditWorkout]="canEditWorkout"
        [isWorkoutFinished]="isWorkoutFinished"
        [deletingWorkoutDetailId]="deletingWorkoutDetailId"
        [exerciseMutationError]="exerciseMutationError"
        (selectDetail)="selectDetail($event)"
        (deleteDetail)="deleteWorkoutDetail($event)"
      />

      <app-current-set-panel
        *ngIf="selectedDetail"
        [selectedDetail]="selectedDetail"
        [sets]="sets"
        [canEditWorkout]="canEditWorkout"
        [isWorkoutFinished]="isWorkoutFinished"
        [setMutationError]="setMutationError"
        [(currentKg)]="currentKg"
        [(currentReps)]="currentReps"
        [deletingSetId]="deletingSetId"
        [savingEditedSetId]="savingEditedSetId"
        (logSet)="logSet()"
        (updateSet)="updateSet($event)"
        (deleteSet)="deleteSet($event)"
      />
    </ng-container>
  </div>

  <app-add-exercise-dialog
    *ngIf="showAddExerciseModal && canEditWorkout"
    [exercises]="exercises"
    [canEditWorkout]="canEditWorkout"
    (close)="closeAddExercise()"
    (addExercise)="addSelectedExercise($event)"
  />
</section>
