<div class="main">
  <div class="title">
    <h1>Приятели</h1>
  </div>
  <div class="friendField">
    <div class="FriendBoxes" *ngIf="haveFriends()">
      <div class="friendBox" *ngFor="let friend of listOfFriends">
        <img alt="avatar" class="avatar"/>
        <br>
        <a class="friendName">{{friend.friend}}</a>
        <div class="buttons">
          <button class="profileBtn">Профил</button>
          <button class="removeBtn" (click)="removeFriend()">-</button>
        </div>
      </div>
    </div>
  </div>
</div>
